/* Font definitions for yume */

/* Comic Neue - Sans-serif (default) */
@font-face {
  font-family: 'Comic Neue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./woff2/ComicNeue-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Comic Neue';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./woff2/ComicNeue-Bold.woff2') format('woff2');
}

/* Comic Mono - Monospace (default) */
@font-face {
  font-family: 'Comic Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./ComicMono.ttf') format('truetype');
}

@font-face {
  font-family: 'Comic Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./ComicMono-Bold.ttf') format('truetype');
}
