/* Local Font Files for Windows Compatibility */

/* Fira Code - Local Loading */
@font-face {
  font-family: 'Fira Code Local';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Fira Code Light'), local('FiraCode-Light'),
       url('https://fonts.gstatic.com/s/firacode/v22/uU9NCBsR6Z2vfE9aq3bh0NSDulI.woff2') format('woff2'),
       url('https://fonts.gstatic.com/s/firacode/v22/uU9NCBsR6Z2vfE9aq3bh0NSDul8.woff') format('woff');
}

@font-face {
  font-family: 'Fira Code Local';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Fira Code Regular'), local('FiraCode-Regular'),
       url('https://fonts.gstatic.com/s/firacode/v22/uU9NCBsR6Z2vfE9aq3bh2dSD.woff2') format('woff2'),
       url('https://fonts.gstatic.com/s/firacode/v22/uU9NCBsR6Z2vfE9aq3bh2dSE.woff') format('woff');
}

@font-face {
  font-family: 'Fira Code Local';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Fira Code Medium'), local('FiraCode-Medium'),
       url('https://fonts.gstatic.com/s/firacode/v22/uU9NCBsR6Z2vfE9aq3bh6NSDulI.woff2') format('woff2'),
       url('https://fonts.gstatic.com/s/firacode/v22/uU9NCBsR6Z2vfE9aq3bh6NSDul8.woff') format('woff');
}

@font-face {
  font-family: 'Fira Code Local';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Fira Code SemiBold'), local('FiraCode-SemiBold'),
       url('https://fonts.gstatic.com/s/firacode/v22/uU9NCBsR6Z2vfE9aq3bhwNODulI.woff2') format('woff2'),
       url('https://fonts.gstatic.com/s/firacode/v22/uU9NCBsR6Z2vfE9aq3bhwNODul8.woff') format('woff');
}

@font-face {
  font-family: 'Fira Code Local';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Fira Code Bold'), local('FiraCode-Bold'),
       url('https://fonts.gstatic.com/s/firacode/v22/uU9NCBsR6Z2vfE9aq3bh3NODulI.woff2') format('woff2'),
       url('https://fonts.gstatic.com/s/firacode/v22/uU9NCBsR6Z2vfE9aq3bh3NODul8.woff') format('woff');
}